/* body
{
    display: flex;
    justify-content: center;
    
} */

.hide{
    display: none;
}
#prompt
{
    text-align: center;
    font-size: 45px;
    margin-top: 75px;
}

.btn
{
    font-size: 35px;
    list-style: none;
    text-align: center;
    margin: 30px;
    margin-left: 425px;
    width: 350px;
    line-height: 75px;
    border: 3px solid black;
    border-radius: 25%;
}

